{% extends "base.html.twig" %}

{% block title 'Commands' %}

{% block content %}
    <table class="table table-condensed">
        <thead> 
            <tr> 
                <th>place</th> 
                <th>thing</th> 
                <th>action</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for command in commands %}
                <tr>
                    <td>{{ command.place }}</td>
                    <td>{{ command.thing }}</td>
                    <td>{{ command.action }}</td>
                    <td>
                        <a href="/api/commands/{{ command.id }}/launch">launch</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
